@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f9f9f9;
    font-family: 'Ubuntu', sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
}

.navbar {
    background-color: rgb(183, 116, 247);
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
}

.left h1 {
    font-size: 5rem;
    cursor: pointer;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;

}

.right ul li a {
    padding: 10px 20px;
    font-size: 2.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
    font-family: 'Cinzel', serif;

}

.right ul li a:hover {
   color: #000000;
    
      
}

@media screen and (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
    }

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

   

}
.responsive{
    
    height: 600px;
    width: 100%;
}
.browse.h1{
    font-size: larger;
    color: #000000;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(-50%,-50%);
}
h3{
    font-size: 50px;
    color: #ed1e79;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container2{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;

    
}
.latestbooksimg{
    position: relative;
        max-width: 800px;
        margin: 0 auto;
        
}
.latestbooksimg h2{
    font-size: 25px;
    position: absolute;
    bottom: 0rem;
    background: rgb(0, 0, 0);/* Fallback color */
    background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
    color: #ffffff;
    width: 100%;
    padding: 20px;
    transition: transform 0.2s;
    text-align: center;
    border-radius:  0px 0px 25px 25px ;
    
   
}
.latestbooksimg h2:hover{transform:scale(1.02);

}
.latestbooksimg img{
    object-fit: cover;
    transition: transform 0.2s;
    width: 250px;
    height: 270px;
    vertical-align: middle;
    border-radius: 25px;
}
.latestbooksimg:hover img{
     transform:scale(1.05);    
    }
    .editorchoice{
        display: flex;
        gap: 17px;
        flex-wrap: wrap;
        justify-content: center;
            
    }
  
    .books{
        position: relative;
            max-width: 800px;
            margin: 5px auto;
    }
    .books img{
        object-fit: cover;
        transition: transform 0.2s;
        width: 250px;
        height: 370px;
        vertical-align: middle;
    }
    .books h4{
       color: rgb(183, 116, 247);
        text-align: center;

        
    }
    .books:hover img{
        transform:scale(1.025)translateY(10px);  
    }
    .deve{
        display: flex;
        gap: 17px;
        flex-wrap: wrap;
        justify-content: center;
            
    }
    .books2{
        position: relative;
            max-width: 800px;
            margin: 45px auto;
    }
    .books2 img{
        object-fit: cover;
        transition: transform 0.2s;
        width: 250px;
        height: 370px;
        vertical-align: middle;
    }
    .books2 h4{
       color:rgba(197, 140, 251, 0.964);
        text-align: center;
    
        
    }
    .books2:hover img{
        transform:scale(1.025)translateY(10px);  
    } 
    
.footer-section {
    width: 100%;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    background: rgba(184, 116, 247, 0.734);
    
}

.footer-section h2 {
    margin-bottom: 3rem;
    position: relative;
}

.footer-section h2::after {
    content: '';
    width: 6rem;
    height: .2rem;
    background: #e65b00;
    position: absolute;
    top: 3rem;
    left: 0;
}

.footer-section p {
    transition: all .2s linear;
    margin-bottom: .6em;
}

a {
    color: rgb(244, 242, 242);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.footer-section p:hover {
    transition: all .2s linear;
    transform: translateX(4px);
}
.footer-section a{
    color: #f9f9f9;
}

.footer-section a:hover {
    color: #000000;
}

.footer-item {
    margin: 1rem;
}

.footer-item ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer-item li {
    margin-right: 5rem;
}

.social ul li {
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.2s linear;
    
}

.social ul li:hover {
    
    transform: scale(1.3);
    transition: all .2s linear;
}

@media screen and (max-width: 320px) {
    .footer-section {
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 2rem;
    }
}

